{% extends 'base.html' %}

{% block title %}Confirmación - Heladería{% endblock %}

{% block content %}
    <h4>¡Registro Exitoso!</h4>
    <p>El producto ha sido registrado correctamente en el sistema.</p>
    <h4>Datos del producto creado:</h4>
    <p><b>Nombre:</b> {{ producto.nombre }}</p>
    <p><b>Precio Público:</b> {{ producto.precio_publico }}</p>
    <p><b>Tipo:</b> {{ producto.tipo }}</p>
    <p><b>Vaso:</b> {{ producto.vaso }}</p>
    <p><b>Volumen (Oz):</b> {{ producto.volumen_onzas }}</p>
    <p><b>Ingredientes:</b></p>
    <ul>
        {% for ingrediente in producto.ingredientes.all %}
            <li><a href="{% url 'ventas:detalle_ingrediente' ingrediente.id  %}">{{ingrediente}}</a></li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'ventas:crear_producto' %}">Crear otro producto</a></p>
{% endblock %}