{% extends 'base.html' %}

{% block title %}Confirmación - Biblioteca Virtual{% endblock %}

{% block content %}
    <h4>Eliminación Exitosa!</h4>
    <p>El préstamo ha sido eliminado correctamente del sistema.</p>
    <h4>Datos del Préstamo Eliminado</h4>
    <p><b>Usuario:</b> {{ prestamo.usuario }}</p>
    <p><b>Libro:</b> {{ prestamo.libro }}</p>
    <p><b>Fecha Préstamo:</b> {{ prestamo.fecha_prestamo|date:"d/m/Y H:i" }}</p>
    {% if prestamo.fecha_devolucion %}
        <p><b>Fecha Devolución:</b> {{ prestamo.fecha_devolucion|date:"d/m/Y H:i" }}</p>
    {% endif %}
{% endblock %}