{% extends 'base.html' %}

{% block title %}Detalle Préstamo - Biblioteca Virtual{% endblock %}

{% block content %}
    <h4>Datos del Préstamo</h4>
    <p><b>Usuario:</b> {{ prestamo.usuario }}</p>
    <p><b>Libro:</b> {{ prestamo.libro }}</p>
    <p><b>Fecha Préstamo:</b> {{ prestamo.fecha_prestamo|date:"d/m/Y H:i" }}</p>
    {% if prestamo.fecha_devolucion %}
        <p><b>Fecha Devolución:</b> {{ prestamo.fecha_devolucion|date:"d/m/Y H:i" }}</p>
    {% endif %}
    <p><a href="{% url 'prestamos:actualizar_prestamo' prestamo.id %}">Actualizar préstamo</a></p>
    <p><a href="{% url 'prestamos:eliminar_prestamo' prestamo.id %}">Eliminar préstamo</a></p>
{% endblock %}