<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Heladería{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    {% comment %} <header>
        <nav>
            <h1>Heladería</h1>
            <ul>
                <li><a href="{% url 'ventas:dashboard' %}">Inicio</a></li>
                <li><a href="{% url 'ventas:listar_ingredientes' %}">Ingredientes</a></li>
                <li><a href="{% url 'ventas:listar_productos' %}">Productos</a></li>
                <li><a href="{% url 'ventas:listar_ventas' %}">Ventas</a></li>
                <li><a href="{% url 'ventas:logout' %}">Salir</a></li>
            </ul>
        </nav>
    </header> {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
        <a class="navbar-brand" href="{% url 'ventas:dashboard' %}">Heladería</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% comment %} TODO: si no tiene sesión, mostrar link Login {% endcomment %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ventas:listar_ingredientes' %}">Ingredientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ventas:listar_productos' %}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ventas:listar_ventas' %}">Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ventas:logout' %}">Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container p-3">
        {% block content %}
        <!-- El contenido específico de cada página se insertará aquí -->
        {% endblock content %}
        <footer>
            <p class="text-center mt-3">&copy; 2025 Heladería. Todos los derechos reservados.</p>
        </footer>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>